
<br>
<div class="row">
    <col>
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-order">
                <div class="card-header">
                    <h5 class="card-title">Toal Order</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_orders }}</h3>
                </div>
            </div>
        </div>
    </col>

    <col>
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="order-pending">
                <div class="card-header">
                    <h5 class="card-title">Order Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ pending }}</h3>
                </div>
            </div>
        </div>
    </col>

    <col>
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="order-delivered">
            <div class="card-header">
                <h5 class="card-title">Order Delivered</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ delivered }}</h3>
            </div>
        </div>
    </div>
</col>
</div>


