{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Change your password
{% endblock %}



{% block body %}
<br>
<div class="row">
	<div class="col-md-6">
		<form method="post" class="">
			{% csrf_token %}
			<h2>Enter new password</h2>
			<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
	  
			{{ form|crispy }}
			  
			  {% if form.errors %}
				  <small>{{ form.errors|striptags  }}</small> 
			  {% endif %}
			
			<div>
			  <button type="submit" class="btn btn-primary">Change my Password</button>
			</div>
		  </form>
	</div>
</div>


{% endblock %}